
.dtopbutton {
    position: fixed;
    background-color: blue;
    color: white;
    padding: 20px;
    margin-bottom: 5px;
    font-size: 28px;
    /* border: none; */
    cursor: pointer;
    bottom: 11px;
    border-radius: 50px;
    right: 60px;
    bottom: 10px;
    opacity: 70%;
}
.dtopbutton:hover {    
    opacity: 100%;
 }   

.nav-button {
    position: fixed;
    right: 75px;
    z-index: 25;
    min-width: 250px; 
}

.drop-down {
    position: absolute;
    bottom: -20px;
    background-color: #4b57d7;
        min-width: 290px;
    display: none;
    border-radius: 10px; 
}    

.drop-down a {
    text-decoration: none;
    font-size: 2em;
    color: bisque;
    padding: 10px 15px;
    display: block;
}

.drop-down a:hover {
    background-color: grey;
}

.nav-button:hover .drop-down {
    display: block;
}

