/* header */
* {
    
    font-family: Tahoma, Verdana, sans-serif;

}

.wrapper-contnt {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    left: 21%;


}

.header {
    display: flex;
    flex-wrap: nowrap;
    min-height: 100px;
    width: 98%;
    background-color: #6ac76a;
    border: 5px solid #6ac76a;
}

.logo {
    /*display: none;*/

    align-items: center;
    justify-content: center;
    min-width: 150px;
    max-width: 7%;
}

.logo img {
    display: flex;
    object-fit: cover;
    max-height: 130%;
    max-width: 130%;
    padding: 10px;
}


.title-page {
    display: flex;
    min-width: 85%;
    text-align: center;
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
}

.title-page h1 {
    display: block;
    color: #02613c;
    font-size: 1.5rem;

}

.work-time {
    display: flex;
    min-width: 30%;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    padding: 3px;
  
}
#email {
    display: block;
    color: wheat;  
    text-align: center;
}


.head-wrap {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    flex: 5;
}


/* catrgory */
.category-goods {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: blue;
    min-height: 50px;
    height: 50px;
    color: #ffffff;
    font-size: 1.2em;
    width: 98%;
    border: 5px solid blue;
    z-index: 12;
}


/* карточки товара */
.main-conteiner-good {
    width: 98%;
    display: flex;
    /*box-shadow: bisque;*/
    flex-wrap: wrap;
    border: 5px solid wheat;
    min-width: 70%;
    height: auto;
    z-index: 10;
}

.main-conteiner-good div {
    padding: 0px;
    /*border: 2px solid green;
    max-height: 30%;*/
}

.inner-div-foto img {
    display: flex;
    object-fit: fill;
    max-height: 100%;
    max-width: 100%;
}

.inner-div-foto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-width: 180px;
    min-height: 150px;
}

.inner-div-goods {
    flex: 3;
    min-width: 180px;
}

.inner-div-goods span {
    height: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-div-goods .text-goods-name {
    display: flex;
    height: auto;
    text-align: center;
    color: blue;
    font-size: 200%;
    min-height: 55%;
}

.inner-div-goods .text-goods-price {
    object-fit: cover;
    justify-content: left;
    padding-left: 10%;
    height: auto;
    color: #0dbe34;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    font-style: bold;
    /*text-shadow: 2px 2px #295e1f;*/
    bottom: 0px;
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0%;
    flex-wrap: nowrap;
    height: 100%;
    width: 20%;
    z-index: 12;
    background-color: blue;
}

.footer span {
    display: block;
    width: 98%;
    text-align: center;
    padding-top: 15px;
    font-size: 1.1rem;
}

.go-to-start {
    display: flex;
    position: relative;
    background-color: blue;
    color: wheat;
    border: 2px white;
    max-width: 100%;
    flex: 1;
    max-block-size: 10%;
    border-bottom: 2px solid wheat ;
}

.menu-category {
    display: flex;
    position: relative;
    background-color: blue;
    color: wheat;
    border: 2px white;
    max-width: 100%;
    flex: 1;
    max-block-size: 10%;
    border-bottom: 2px solid wheat;
}

.calls {
    display: flex;
    position: relative;
    background-color: blue;
    color: wheat;
    border: 2px white;
    max-width: 100%;
    flex: 1;
    max-block-size: 10%;
    border-bottom: 2px solid wheat;
}


.dropdown-calls a {
    display: block;
    background-color: blue;
    color: white;
    width: 50%;
    height: 100%;
    font-size: 1.5rem;
    text-decoration: none;
}

#btn-google-maps {
    position: fixed;
    bottom: 80px;
    right: 40px;
    width: 50px;
    height: 50px;
    border: 1px solid blue;
    border-radius: 50%;
    background-image: url('image/google-maps.png');
    background-size: cover;
    opacity: 80%;
    z-index: 12;
  }

#btn-google-maps a {
    display: block;
    height: 100%;
    width: 100%;
} 


/******* для мобильного media (max-width: 560px) ***************/

@media (max-width: 560px) {
    html {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    /* header */
    .wrapper-contnt {
        width: 97%;
        left: 0;
    }

    .header {
        padding: 3px 0px;
    }

    .logo {
        display: none;
    }
    

    .title-page {
        font-size: 0.8em;
        min-height: 60%;
    }

    .work-time {
        font-size: 0.8em;
        padding: 0px;
    }
    #email {
        display: none
    }

     #my-route {
        display: none
    }


    /* goods */
      
    .category-goods {       
        font-size: 0.8rem;      
    }

    .main-conteiner-good {
        flex-direction: column;
        width: 98%;
        overflow: hidden;
    }

    .inner-div-foto img {
        /*display: flex;
        object-fit: fill;*/
        max-width: 60%;
        max-height: 60%;
    }


    .inner-div-goods .text-goods-price {
        font-size: 2em;
        padding: 0px;
        justify-content: center;
    }

    .inner-div-goods .text-goods-name {
        padding: 3px;
        font-size: 1.5rem;
        min-height: 60%;
        background-color: rgb(236, 236, 236);
    }

    /* footer */

    .footer {
        display: flex;
        position: fixed;
        flex-direction: row;
        top: auto;
        bottom: 0px;
        flex-wrap: nowrap;
        min-width: 94%;
        height: 50px;
        background-color: blue;
    }

    .footer span {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 8px;
        font-size: 1.3rem;
        color: white;
    }

    .go-to-start {
        display: flex;
        position: relative;
        background-color: blue;
        color: wheat;
        border: 2px white;
        max-width: 40%;
        height: 100%;
        max-height: 100%;
        flex: 1;
        border: 1px solid wheat;
    }
     .go-to-start span {
        padding-top: 9%;
        transform: rotate(270deg);

    .menu-category {
        /*display: flex;
        position: relative;
        background-color: blue;
        color: wheat;*/
        border: 1px solid wheat;
        max-width: 50%;
        height: 100%;
        flex: 1;
        max-height: 100%;
    }

    .calls {
        display: flex;
        position: relative;
        background-color: blue;
        color: wheat;
        border: 2px white;
        max-width: 75%;
        flex: 1;
        border: 1px solid wheat;
        max-height: 100%;
    }
}

/* THE END для мобильного media (max-width: 560px) ***************/
